// **************************************
// @Variables: variables
// **************************************

$colores: (
    "color1": #CF5656,
    "color2": #56CF87,
    "color3": #56ABCF,
    "color4": #5671CF,
    "color5": #B056CF,
    "color6": #CF9F56,
    "color7": #EEF223,
    "color8": #9D9C9c
);
$colorTexto: #636363;

$colorFondo: #E4E4E4;
