// **************************************
// @Tipografia: tipografia
// **************************************

$fontTitulo: 3rem;
$fontPolaroid: 1.2rem;

$fontFamily: Sans-Serif;


// Tamaño de los texto
body{
    font-family: $fontFamily;
}
.titulo{
    font-size: $fontTitulo;
}
.texto{
    font-size: $fontPolaroid;
}